*{
    margin: 0;
    padding: none;
    box-sizing: border-box;
}

.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
}

button{
    background-color: #4CAF50;
    border: none;
    text-align: center;
    width: 5rem;
    height: 2rem;
}